body {
    overflow: hidden;
    font-family: 'Nanum Barun Gothic';
    color: #AACCFF;
    background-color: rgba(5, 38, 87, 0.95);
}
#huntTableA {
    font-size: 0.7em;
    width: 100%;
}

#huntTableA th#head{border-bottom: 1px solid #ccc;}

#huntTableA tr:nth-child(even){background-color: rgba(5, 38, 87, 1);}
