body {
    overflow: hidden;
    font-family: 'Nanum Barun Gothic';
    color: #AACCFF;
    background-color: rgba(5, 38, 87, 0.95);
}
#huntTable {
    font-size: 0.7em;
    width: 100%;
}

#huntTable th#head{border-bottom: 1px solid #ccc;}

#huntTable tr:nth-child(even){background-color: rgba(5, 38, 87, 1);}